# 全平台数据源参考模版，需要复制到config.yaml中使用
sources:
    # 综合新闻媒体类
    - id: "toutiao"
      name: "今日头条"
    - id: "baidu"
      name: "百度热搜"
    - id: "thepaper"
      name: "澎湃新闻"
    - id: "ifeng"
      name: "凤凰网"
    - id: "cankaoxiaoxi"
      name: "参考消息"
    - id: "sputniknewscn"
      name: "卫星通讯社"
    - id: "zaobao"
      name: "联合早报"
    - id: "mktnews"
      name: "MKT新闻"
    - id: "kaopu"
      name: "靠谱新闻"
    - id: "tencent-hot"
      name: "腾讯新闻 综合早报"

    # 财经投资类
    - id: "wallstreetcn-hot"
      name: "华尔街见闻 最热"
    - id: "wallstreetcn-quick"
      name: "华尔街见闻 快讯"
    - id: "wallstreetcn-news"
      name: "华尔街见闻 最新"
    - id: "cls-hot"
      name: "财联社热门"
    - id: "cls-telegraph"
      name: "财联社 电报"
    - id: "cls-depth"
      name: "财联社 深度"
    - id: "gelonghui"
      name: "格隆汇"
    - id: "jin10"
      name: "金十数据"
    - id: "fastbull"
      name: "快讯通"
    - id: "fastbull-express"
      name: "法布财经 快讯"
    - id: "fastbull-news"
      name: "法布财经 头条"

    # 社交/短视频/娱乐类
    - id: "weibo"
      name: "微博"
    - id: "douyin"
      name: "抖音"
    - id: "bilibili-hot-search"
      name: "bilibili 热搜"
    - id: "tieba"
      name: "贴吧"
    - id: "zhihu"
      name: "知乎"
    - id: "hupu"
      name: "虎扑"

    # 科技类平台
    - id: "ithome"
      name: "IT之家"
    - id: "juejin"
      name: "掘金"
    - id: "hackernews"
      name: "Hacker News"
    - id: "solidot"
      name: "Solidot"
    - id: "v2ex"
      name: "V2EX"
    - id: "sspai"
      name: "少数派"
    - id: "producthunt"
      name: "ProductHunt"

    # 额外平台
    - id: "xueqiu"
      name: "雪球"